build/
bin/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.cmake

.vs/
*.vcxproj.user
*.suo
*.opensdf
*.VC.db
*.VC.VC.opendb

Thumbs.db
ehthumbs.db
Desktop.ini

.DS_Store

*~

*.log
*.tmp
*.swp
*.bak

*.exe
*.dll
*.lib
*.obj
*.o
*.pdb